@import url("reset.css");

/*Fonts*/
.c {
	text-align:center;
}

.b {
	vertical-align: baseline;
	font-weight:bold;
}

.i {
	vertical-align: baseline;
	font-style: italic;
}

/* Header */
nav {
	width:100%;
}

/* Title Bar */
#titlewrap {
	height:100px;
	background-color:#000;
}

#titleleft, #titlecenter, #titleright{
	float:left;
	display:inline-block;
	position:relative;
	height:100%;
	margin:0px;
}

#titleleft {
	background-color:#00FF00;
	width:200px;
}

#titlecenter {
	background-color:#0000FF;
	margin:auto;
	width:1000px;
	font-size:25px;

	text-align:center;
}

#titlecenter span a {
	color:#0F0;
	vertical-align: text-bottom;
	position: relative;
	text-decoration:none;
}

#titleright {
	background-color:#00FF00;
	width:200px;
}

/*Navigation Bar*/
#navwrap {
	width:100%;
	float:left;
	background-color:#AAA;
	position:relative;
}

#navwrap ul {
	float:left;
}

#navwrap ul li {
	float:left;
	background-color:#F00;
}

#navwrap ul li a {
	display:block;
	padding:12px 22px;

	border-right:2px solid #000;
	border-top:2px solid #000;
	border-bottom:2px solid #000;

	font-size:22px;

	text-decoration:none;
	text-align:center;
}

#navwrap ul li:first-child a {
	border-left:2px solid #000;
}